<!-- MAIN SCREEN -->
<main class="w-full h-screen flex flex-col">
  <!-- HEADER COMPONENT -->
  <app-header class="max-h-44 w-full bg-slate-400 fixed z-10"></app-header>

  <!-- BODY COMPONENT -->
  <section class="w-full h-full grid sm:grid-cols-12">
    <!-- MENUBAR CONTAINER -->
    <app-sidebar class="h-full sm:col-span-2 w-full overflow-hidden pt-[60px]"></app-sidebar>

    <!-- AUDIT LIST COMPONENT -->
    <section class="sm:col-span-10 bg-[#ebecf0] w-full min-h-screen p-3 pt-[60px]">
      <router-outlet></router-outlet>
    </section>
  </section>
</main>
