
<section class="w-ful">
  <app-heading Title="Filter All">
      <div class="sm:grid sm:grid-cols-12 gap-2">
          <div class="sm:col-span-2">
            <app-filter
            [isOpen]="activeDropdown === 'first'"
            (toggle)="handleToggle('first')"
            [label]="SearchDepartmnetFilterTitel"
            [menuItems]="SearchDepartmnetFilterList">
          </app-filter>
          </div>
          <div class="sm:col-span-2">
            <app-filter
            [isOpen]="activeDropdown === 'second'"
            (toggle)="handleToggle('second')"
            [label]="SelectStatusTille"
            [menuItems]="SelectStatusList">
          </app-filter>
          </div>
          <div class="sm:col-span-2">
            <app-filter
            [isOpen]="activeDropdown === 'third'"
            (toggle)="handleToggle('third')"
            [label]="SelectuserTitle"
            [menuItems]="SelectUserList">
          </app-filter>
          </div>
      </div>
  </app-heading>
</section>