<div class="w-full h-full grid grid-cols-12 gap-1 rounded-b-md">

  
    <!-- Display the icon -->
    <div class="col-span-3  rounded-md w-full h-full flex justify-center items-center">
        <img
      *ngIf="MenuData.icon"
      src="MenuIcons/{{ MenuData.icon }}"
      alt="{{ MenuData.displayName }} Icon"
      class="w-6"
    />
    </div>



    <!-- Display the displayName -->
    <p class="col-span-9  font-semibold flex items-center ">
        <span class="w-11/12">{{ MenuData.displayName }}</span>
        <i *ngIf="MenuData.type === 'parent'" class="block w-1/12 text-center" aria-hidden="true">&gt;</i>


    </p>
  </div>
  